.clock_wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    padding: 30px;
}